In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  7  2  9  7
1  2  2  3  8  3
2  8  5  4  7  3
3  9  8  3  4  3
4  1  8  5  8  1

In [3]:

tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [4]:

df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        7        7        2        9        7
1        2        2        3        8        3
2        8        5        4        7        3
3        9        8        3        4        3
4        1        8        5        8        1

In [5]:

df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        7        7        2        9        7
1        2        2        3        8        3
2        8        5        4        7        3
3        9        8        3        4        3
4        1        8        5        8        1