In [1]:

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    98
1    41
2    80
3     7
4    86
5    80
6    42
7    30
8    10
9    30

In [3]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    98        manula
1    41        dewasa
2    80        manula
3     7          anak
4    86        manula
5    80        manula
6    42        dewasa
7    30        dewasa
8    10          anak
9    30        dewasa