In [1]:

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  3  6  3  2  7
1  6  5  6  5  5
2  1  9  8  5  3
3  4  3  1  9  8
4  7  9  6  9  7
5  9  3  3  6  3
6  3  6  6  8  5
7  6  5  9  3  2
8  7  8  7  1  3
9  1  4  8  4  8

In [4]:
(df['A'] < 5).sum()

np.int64(5)

In [5]:
(df['A'] < 5).mean()

np.float64(0.5)